/* target the minimum width of the browser window STORT VINDU*/
@media screen and (min-width: 900px) {


	body {
		background-color: #d8d8d8; /**Grå**/
		margin: 0px;
		font-family: Tahoma;
	}
	/*****************
		Top
	*****************/
	#top {
		width: 100%;
		background-color: #0189af;
		min-height: 150px;
	}
	/*****************
		Header
	*****************/
	#header {
		margin: 0 0 0 0;
		width: 80%;
	}
	h1 {
	
	}
	/*****************
		Content
	*****************/
	#content {
		margin: 0 auto;
		width: 80%;
		min-height: 1000px;
		background-color: #ffffff;
	}

	#navigation {

	}

	#main-nav {
		list-style-type: none;
		text-align: center;
	}

	#main-nav li:first-child {

	}

	#main-nav li {
		width: 150px;
		height: 120px;
		border: 1px solid black;
		display: inline-block;
		text-align: center;
		margin-right: 25px;
		margin-top: 25px;

	}

	a {
		text-decoration: none;
		color: #000000;
		width: 100%;
		height: 100%;
	}
	
	.photo {
		width: auto;
		height: 120px;
	}
	#tilbake {
		float: right;
	}
	h3 {
		border-top: 2px dashed black;
		clear: both;
		margin: 25px;
		padding: 15px;
	}
	#ja {
		text-align: right;
		margin-right: 15px;
	}
	#search {
		margin-left: 15px;	
		width: 30%;
	}
	select {
		width: 30%;
			margin-left: 15px;
	}
	.test {
		float: left;
		width: 24%;
		margin-top: 2%;
	}
	.test1 {
		float: left;
		width: 24%;
		margin-top: 4%;
		margin-left: 1%;
	}
	#liste {
		text-align: left;
	}
	.list {
		list-style-type: none;
		display: inline-block;
		
	}
	.image {
		width: 250px;
		height: auto;
		margin: 15px;
	}
	.title {
		float: right;
	}
	/*****************
		Footer
	*****************/
	#footer {
		width: 100%;
		background-color: #0189af;
		min-height: 150px;
	}

}

/* target the maximum width of the browser window LITE VINDU*/
@media screen and (max-width: 600px) { 

body {
		background-color: #4F8B16; /**Grønn**/
		margin: 0px;
		font-family: Tahoma;
	}
	/*****************
		Top
	*****************/
	#top {
		width: 100%;
		background-color: #100A08;
		min-height: 50px;
	}
	/*****************
		Header
	*****************/
	#header {
		margin: 0 auto;
		width: 80%;
	}
	/*****************
		Content
	*****************/
	#content {
		margin: 0 auto;
		width: 80%;
		border-radius: 25px;
		background-color: #EEEEEE;
		min-height: 700px;
	}

	#navigation {

	}

	#nav-button {
		list-style-type: none;
		
	}

	#nav-button li:first-child {
	
	}

	#nav-button li {
		width: 150px;
		height: 120px;
		border: 2px solid black;
		display: inline-block;
		margin-right: 25px;
		margin-top: 25px;
		text-align: center;
	}

	a {
		text-decoration: none;
		color: #000000;
		width: 100%;
		height: 100%;
	}
	h3 {
		border-top: 2px dashed black;
		clear: both;
		margin: 25px;
		padding: 15px;
	}
	/*****************
		Footer
	*****************/
	#footer {
		width: 100%;
		background-color: #000000;
		min-height: 50px;
	}


}
/* target both the minimum and maximum width of the browser window MIDDELS VINDU*/
@media screen and (min-width: 600px) and (max-width: 900px) { 

body {
		background-color: #A4100F; /**Rød**/
		margin: 0px;
		font-family: Tahoma;
	}
	/*****************
		Top
	*****************/
	#top {
		width: 100%;
		background-color: #100A08;
		min-height: 50px;
	}
	/*****************
		Header
	*****************/
	#header {
		margin: 0 auto;
		width: 80%;
	}
	/*****************
		Content
	*****************/
	#content {
		margin: 0 auto;
		width: 80%;
		min-height: 700px;
		border-radius: 25px;
		background-color: #EEEEEE;
	}

	#navigation {

	}

	#nav-button {
		list-style-type: none;
		text-align: center;
	}

	#nav-button li:first-child {
	
	}

	#nav-button li {
		width: 150px;
		height: 120px;
		border: 2px solid black;
		display: inline-block;
		margin-right: 25px;
		text-align: center;
		margin-top: 25px;
	}

	a {
		text-decoration: none;
		color: #000000;
		width: 100%;
		height: 100%;
	}
	h3 {
		border-top: 2px dashed black;
		clear: both;
		margin: 25px;
		padding: 15px;
	}
	/*****************
		Footer
	*****************/
	#footer {
		width: 100%;
		background-color: #000000;
		min-height: 50px;
	}


}
/* target the maximum width of the device */
@media only screen and (max-device-width: 480px) {
	body {
		background-color: #CFB741; /**Gul**/
		margin: 0px;
		font-family: Tahoma;
	}
	/*****************
		Top
	*****************/
	#top {
		width: 100%;
		background-color: #100A08;
		min-height: 50px;
	}
	/*****************
		Header
	*****************/
	#header {
		margin: 0 auto;
		width: 80%;
	}
	/*****************
		Content
	*****************/
	#content {
		margin: 0 auto;
		width: 80%;
		min-height: 700px;
		border-radius: 25px;
		background-color: #EEEEEE;
	}

	#navigation {

	}

	#nav-button {
		list-style-type: none;
		text-align: center;
	}

	#nav-button li:first-child {
	
	}

	#nav-button li {
		width: 150px;
		height: 120px;
		border: 2px solid black;
		display: inline-block;
		margin-right: 25px;
		text-align: center;
		margin-top: 25px;
	}

	a {
		text-decoration: none;
		color: #000000;
		width: 100%;
		height: 100%;
	}
	h3 {
		border-top: 2px dashed black;
		clear: both;
		margin: 25px;
		padding: 15px;
	}
	/*****************
		Footer
	*****************/
	#footer {
		width: 100%;
		background-color: #000000;
		min-height: 50px;
	}
}
/* target the maximum width of the device and it's orientation */
@media only screen and (max-device-width: 480px) and (orientation:portrait) { 
body {
		background-color: #7B628A; /**Lilla**/ /**Denne som vises på Lenas Iphone!**/
		margin: 0px;
		font-family: Tahoma;
	}
	/*****************
		Top
	*****************/
	#top {
		width: 100%;
		background-color: #100A08;
		min-height: 50px;
	}
	/*****************
		Header
	*****************/
	#header {
		margin: 0 auto;
		width: 80%;
	}
	/*****************
		Content
	*****************/
	#content {
		margin: 0 auto;
		width: 80%;
		min-height: 700px;
		border-radius: 25px;
		background-color: #EEEEEE;
	}

	#navigation {

	}

	#nav-button {
		list-style-type: none;
		text-align: center;
	}

	#nav-button li:first-child {
	
	}

	#nav-button li {
		width: 150px;
		height: 120px;
		border: 2px solid black;
		display: inline-block;
		margin-right: 25px;
		text-align: center;
		margin-top: 25px;
	}

	a {
		text-decoration: none;
		color: #000000;
		width: 100%;
		height: 100%;
	}
	h3 {
		border-top: 2px dashed black;
		clear: both;
		margin: 25px;
		padding: 15px;
	}
	/*****************
		Footer
	*****************/
	#footer {
		width: 100%;
		background-color: #000000;
		min-height: 50px;
	}
}
@media only screen and (max-device-width: 480px) and (orientation:landscape) { 
body {
		background-color: #1695B6; /**Blå**/
		margin: 0px;
		font-family: Tahoma;
	}
	/*****************
		Top
	*****************/
	#top {
		width: 100%;
		background-color: #100A08;
		min-height: 50px;
	}
	/*****************
		Header
	*****************/
	#header {
		margin: 0 auto;
		width: 80%;
	}
	/*****************
		Content
	*****************/
	#content {
		margin: 0 auto;
		width: 80%;
		min-height: 700px;
		border-radius: 25px;
		background-color: #EEEEEE;
	}

	#navigation {

	}

	#nav-button {
		list-style-type: none;
		text-align: center;
	}

	#nav-button li:first-child {
	
	}

	#nav-button li {
		width: 150px;
		height: 120px;
		border: 2px solid black;
		display: inline-block;
		margin-right: 25px;
		text-align: center;
		margin-top: 25px;
	}

	a {
		text-decoration: none;
		color: #000000;
		width: 100%;
		height: 100%;
	}
	h3 {
		border-top: 2px dashed black;
		clear: both;
		margin: 25px;
		padding: 15px;
	}
	/*****************
		Footer
	*****************/
	#footer {
		width: 100%;
		background-color: #000000;
		min-height: 50px;
	}
}
/* target the iPhone4 retina display */
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
body {
		background-color: #E4694E; /** Orange **/
		margin: 0px;
		font-family: Tahoma;
	}
	/*****************
		Top
	*****************/
	#top {
		width: 100%;
		background-color: #100A08;
		min-height: 50px;
	}
	/*****************
		Header
	*****************/
	#header {
		margin: 0 auto;
		width: 80%;
	}
	/*****************
		Content
	*****************/
	#content {
		width: 100%;
		min-height: 700px;
		background-color: #EEEEEE;
		border-radius: 0px;
	}

	#navigation {

	}

	#nav-button {
		list-style-type: none;
		text-align: left;
		margin-left: -5px;
	}

	#nav-button li:first-child {
	
	}

	#nav-button li {
		width: 110px;
		height: 80px;
		border: 2px solid black;
		display: inline-block;
		margin-right: 15px;
		text-align: center;
		margin-top: 25px;
	}

	a {
		text-decoration: none;
		color: #000000;
		width: 100%;
		height: 100%;
	}
	h3 {
		border-top: 2px dashed black;
		clear: both;
		margin: 25px;
		padding: 15px;
	}
	/*****************
		Footer
	*****************/
	#footer {
		width: 100%;
		background-color: #000000;
		min-height: 50px;
		margin-top: -25px;
		margin-bottom: -25px;
	}
}
